.idea/GyakorlóFeladatok.iml
.idea/description.html
.idea/encodings.xml
.idea/misc.xml
.idea/project-template.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/uiDesigner.xml
out/production/GyakorlóFeladatok/com/szsnikolett/EgysegMatrix.class
out/production/GyakorlóFeladatok/com/szsnikolett/HaromszogMatrix.class
out/production/GyakorlóFeladatok/com/szsnikolett/Matrix.class
*.class
